<!DOCTYPE html>
<html lang="ko">
{%load static%}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scal=1.0">
  <title>APT-DETECT</title>
  <link rel="stylesheet" href="{%static 'font/style.css'%}">
</head>

<body id="page-top">
  <div class = "container">
    <div class= "header">
      <h1><a href="http://49.50.166.66:8000/page_home">APT_DETECT</a></h1>
      <div class = "nav">
        <ul>
          <li><a href = "http://49.50.166.66:8000/page_home">HOME</a></li>
          <li><a href = "#">INFO</a></li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <h2>APT DETECT</h2>
      <img src = "img/warn_base.png" widthalt ="WARNING">
      <p>APT DETECT는 사용자가 접속할 페이지의 위험도를 </p>
      <p>안전, 주의, 위험, 매우위험의 4단계로 분류하였으며</p>
      <p>주의 : 악성 위협요소가 존재할 위험은 적지만 광고배너 등이 존재할 수 있는 사이트</p>
      <p>위험 : 악성 위협요소가 존재할 위험이 있으며 사용자의 PC가 악성코드에 감염될 수 있는 사이트</p>
      <p>매우위험 : 악성 위협요소가 매우 많으며 PC가 정상적으로 동작하지 못할 수 있으므로 접속을 금지하는 사이트</p>
      <p>안전 등급 이외의 모든 사이트는 접속하지 않는것을 권장합니다.</p>
      </div>
    <footer class = "copyr">
      <div>
        <p>Copyright &copy; 사이버보안캡스톤디자인 6조</p>
      </div>
    </footer>
  </div>
</body>
</html>
